h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 20rem;
    line-height: .75;
    flex-wrap: wrap;
}

h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 10rem;
    line-height: .75;
    padding-top: 100px
}

p {
    font-family: neue-haas-grotesk-display, sans-serif;
    width: 700px;
    display: inline-block;
    justify-content: space-around;
    padding-left: 120px;
}

.body {
    display: inline-flex;
    align-items: center;
    padding-bottom: 50px;
    
}

.first {
    height: 600px;
    overflow: scroll;
}

.second {
    height: 600px;
    overflow: scroll;
}

.borderless {
    border-style: none;
}

::-webkit-input-placeholder {
    text-align: center;
}

.big {
    width: 225px;
}

.huge {
    width: 300px;
}

input:hover {
    background-color:#DE5246;
}