h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 20rem;
    line-height: .75;
    flex-wrap: wrap;
}

h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 20rem;
    line-height: .75;
}

p {
    font-family: neue-haas-grotesk-display, sans-serif;
    width: 600px;
    display: inline-block;
    justify-content: space-around;
}

.body {
    display: inline-flex;
    align-items: center;
}

.borderless {
    border-style: none;
}

::-webkit-input-placeholder {
    text-align: center;
}

input:hover {
    background-color:#DE5246;
}