/*responize font size
- vw
*/

/*Type and Format*/
h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 15vw;
    line-height: .75;
    flex-wrap: wrap;
}

h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 10vw;
    line-height: .75;
    padding-left: 5vw;
    /*padding-top: 100px;*/
}

p {
    font-family: neue-haas-grotesk-display, sans-serif;
    width: 700px;
    font-size: 18px;
    display: inline-block;
    justify-content: space-around;
    

}

/*Landing page with overlapping scroll*/
body {
    flex-direction: column;
}

.title {
    width: 100vw;
    position: fixed;
    /*z-index: 0;*/
}

.base {
    /*padding: 4vw;*/
    position: absolute;
    top: 100%;
    height: 100vh;
    width: 100vw;
    /*z-index: 1;*/
    background: 100%;
    background-color: white;
}

.body {
    display: inline-flex;
    align-items: center;
    
    padding: 0 3vw 5vw 5vw;
}


/*Split Essays and Scroll*/
.first {
    height: 48vh;
    width: 45vw;
    overflow: scroll;
}

.spacer {
    width: 2vw;
}

.second {
    height: 48vh;
    width: 45vw;
    overflow: scroll;
}


/*Input and Hover Features*/
.underline {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

::-webkit-input-placeholder {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 16px;
    text-align: center;
}

.big {
    width: 225px;
}

.huge {
    width: 300px;
}

/*input:hover {
    background-color:#DE5246;
    
}*/

#body:hover ~ #twenty{
    background-color:#DE5246;
    
}